@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(68, 170, 80, 0.7);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(68, 170, 80, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(68, 170, 80, 0);
    }
}

body {
    background: linear-gradient(141deg, #5073E7 0%, #93D2ED 51%, #5073E7 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.flow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(141deg, #5073E7 0%, #93D2ED 51%, #5073E7 100%);
    color: white;
    padding: 0 20px;
    text-align: center;
}

.flow-title {
    font-size: 3em;
    animation: slideInFromTop 2s;
    color: white;
    margin: 0;
}

.flow-subtitle {
    font-size: 1.5em;
    animation: slideInFromBottom 2s;
    color: white;
    margin-top: 20px;
}

.flow-version {
    font-size: 1em;
    margin-top: 20px;
}

.flow-button {
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    animation: pulse 2s infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.flow-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}